page-rachas-marcados {
}

.clickEndereco {
    cursor: pointer;
}

.iconsliding {
    font-size: 1.5em;
}

.itemSliding {
    text-align: center;
    width: 100%;
    padding: 0;
}

.btSliding {
    color: #fff;
    margin-top: 2vw;
}

.esconder {
    display: none;
}

.aparecer {
    text-align: center;
}
.aparecer ion-card {
    padding: 10px;
}
.aparecer h3 {
    font-size: 5vw;
}
.aparecer button {
    margin-top: 15px;
}

.espacoVazio {
    height: 5px;
}