<ion-header>
  <ion-navbar>

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Marcar Racha</ion-title>

    <ion-buttons end>
      <button ion-button icon-only disabled>
        <ion-icon class="fa-futbol-o"></ion-icon>
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content class="body">

  <ion-card>

    <ion-toolbar no-border-top>
      <ion-segment [(ngModel)]="searchRacha" color="verdeEscuro">
        <!-- <ion-segment-button value="quadra" (click)="teste($event)"> -->
        <ion-segment-button value="quadra">
          QUADRA
        </ion-segment-button>
        <ion-segment-button value="horario">
          HORÁRIO
        </ion-segment-button>
      </ion-segment>
    </ion-toolbar>

    <div [ngSwitch]="searchRacha">
      <ion-list *ngSwitchCase="'quadra'">
        <ion-searchbar [(ngModel)]="nomeQuadra" #searchBar (ionInput)="onInputNomeQuadra(nomeQuadra)" (ionClear)="onClearNomeQuadra()"
          debounce="750" placeholder="Digite o nome da quadra...">
        </ion-searchbar>
        <div id="divResultadosPorQuadra">
          <ion-list>
            <button ion-item *ngFor="let quadraPesquisada of quadrasPesquisadas" (click)="pushPageQuadraInfos(quadraPesquisada.id)">
              <img class="imgHorarios" src="./../../assets/icon/racha-B.svg" item-start>
              <h2>{{quadraPesquisada.nome}}</h2>
              <p>{{quadraPesquisada.logadouro}}, {{quadraPesquisada.numero}}</p>
              <p>{{quadraPesquisada.bairro}}</p>
              <p>{{quadraPesquisada.telefone}}</p>
            </button>
          </ion-list>
        </div>
      </ion-list>

      <ion-list *ngSwitchCase="'horario'">

        <ion-item>
          <ion-label>DATA</ion-label>
          <ion-datetime displayFormat="DDDD - DD/MMM/YYYY" placeholder="Selecione a data" [(ngModel)]="data" (ionChange)="onDataSelecionada(data)"
            doneText="Ok" cancelText="Cancelar"></ion-datetime>
        </ion-item>

        <ion-item>
          <ion-label>HORÁRIO</ion-label>
          <ion-select class="selectHorario" placeholder="Selecione o horário" [(ngModel)]="horario" (ionChange)="onHorarioSelecionado(horario)"
            okText="Ok" cancelText="Cancelar">
            <ion-option *ngFor="let horario of todosHorarios" [value]="horario">{{ horario.horarioInicio }} - {{ horario.horarioFim }}</ion-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <button ion-button color="secondary" default block (click)="pesquisarRachaHorario()">PESQUISAR</button>
        </ion-item>

        <div id="divResultadosPorHorario">
          <ion-list>
            <button ion-item *ngFor="let horarioPesquisado of horariosPesquisados" (click)="pushPageRachas(horarioPesquisado)">
              <img class="imgHorarios" src="./../../assets/icon/racha-B.svg" item-start>
              <h2>{{horarioPesquisado.nome}}</h2>
              <p>{{horarioPesquisado.logadouro}}, {{horarioPesquisado.numero}}</p>
              <p>{{horarioPesquisado.bairro}}</p>
              <p>{{horarioPesquisado.telefone}}</p>
            </button>
          </ion-list>
        </div>

      </ion-list>

    </div>

  </ion-card>

</ion-content>