page-marcar-racha {

}

.selectHorario {
    max-width: 55vw;
    padding-left: 0;
    text-align: right;
    font-size: 4.2vw;
}

#divResultadosPorHorario {
    margin: 0;
}

.imgHorarios {
    width: 15%;
}