page-splash {
    
}

#bodySplash {
    background-color: #FFFFFF;
    position: relative;
    animation: body-animation 9s forwards linear;
}
@keyframes body-animation {
    0% {
        
    }
    62% { // 5,58s
        background-color: #FFFFFF;
    }
    80% { // 7,2s
        background-color: #1e1e1e;
    }
    100% { // 9s
        background-color: #1e1e1e;
    }
}


#svgId {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 130px;
    max-height: 130px;
    animation: svg-animation 9s forwards linear;
}
@keyframes svg-animation {
    0% {
        top: 50%;
    }
    40% { // 3,6s
        top: 50%;
    }
    56.5% { // 5,08s
        top: 30%;
    }
    100% { // 9s
        top: 30%;
    }
}


#background,.letter {
    transform-origin: 50% 50%;
    opacity: 1;
}


#background {
    animation: background-animation 9s forwards linear;
    fill: #1e1e1e;
}
@keyframes background-animation {
    0% {

    }
    40% { // 3,6s
        transform: scale(1,1);
    }
    45.5% { // 4,09s
        transform: scale(1.1,1.1);
        opacity: 1;
    }
    51% { // 4,59s
        transform: scale(1,1);
        opacity: 1;
    }
    56.5% { // 5,08s
        transform: scale(1.1,1.1);
        opacity: 1;
    }
    62% { // 5,58s
        fill: #1e1e1e;
    }
    80% { // 7,2s
        transform: scale(1.1,1.1);
        opacity: 1;
        fill: #FFFFFF;
    }
    100% { // 9s
        transform: scale(1.1,1.1);
        opacity: 1;
        fill: #FFFFFF;
    }
}


.letter {
    animation: letter-animation 9s forwards linear;
}
@keyframes letter-animation {
    0% {
        fill: #FFFFFF;
    }
    55% { // 4,95s
        fill: #FFFFFF;
    }
    62% { // 5,58s
        fill: #FFFFFF;
    }
    80% { // 7,2s
        fill: #1e1e1e;
    }
    100% { // 9s
        fill: #1e1e1e;
    }
}


.classCircle {
    position: static;
    stroke-dasharray: 3023;
    stroke-dashoffset: -3023;
    animation: circle-animation 8s forwards ease;
    -ms-transform: scale(6, 3); /* IE 9 */
    -webkit-transform: scale(6, 3); /* Safari */
    transform: scale(6, 3);
    transform-origin: 0% 0%;
    fill: #FFFFFF;
}
@keyframes circle-animation {
    0% {
        -ms-transform: scale(0, 0); /* IE 9 */
        -webkit-transform: scale(0, 0); /* Safari */
        transform: scale(0, 0);
        transform: translate(65%, 140%);
    }
    30% { // 2,4s
        -ms-transform: scale(0, 0); /* IE 9 */
        -webkit-transform: scale(0, 0); /* Safari */
        transform: scale(0, 0);
        transform: translate(65%, 140%);
    }
    83% { // 6,64s
        -ms-transform: scale(7, 3); /* IE 9 */
        -webkit-transform: scale(7, 3); /* Safari */
        transform: scale(7, 3);
    }
}


#hexagon-1 {
    animation: draw-hexagon-1 7s forwards linear;
    transform-origin: 50% 50%;
}
@keyframes draw-hexagon-1 {
    0% {
        stroke: transparent;
    }
    14.1% {
        stroke: transparent;
    }
    14.2% { // 1s
        stroke: #1e1e1e;
        stroke-dasharray: 3297;
        stroke-dashoffset: -3297;
    }
    33% { // 2,31s
        stroke: #1e1e1e;
        stroke-dasharray: -3297;
        stroke-dashoffset: 0;
    }
    55% { // 3,85s
        stroke: #1e1e1e;
    }
    60% { // 4,2s
        stroke: transparent;
    }
    100% { // 7s
       stroke: transparent;
    }
}





#divDadosUsuarioLogado-Splash {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, 0%);
    opacity: 0;
    height: 0px;
    visibility: visible;
}

@keyframes splash-animation-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.divImg-Nome-Splash {
    display: flex;
	justify-content: center;
    align-items: center;
    margin-top: 8px;
    margin-bottom: 30px;
    border: 1px solid #FFFFFF;
    padding: 10px 0;
    min-width: 240px;
}

#imgUser-Splash {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}

#spanNomeUsuario-Splash {
    color: #fff;
    font-size: 1.3em;
    max-width: 160px;
}

#divContainerLoading-Splash {
    display: flex;
	justify-content: center;
    align-items: center;
    opacity: 1;
}

#spanMsgLoading-Splash {
    color: #fff;
    font-size: 1em;
    
}

#svgLoading-Splash {
    height: 34px;
    width: 34px;
    margin-right: 20px;
}

#hexagonLoading-Splash {
    animation: draw-hexagonLoading-Splash 1s infinite forwards linear;
    transform-origin: 50% 50%;
}

@keyframes draw-hexagonLoading-Splash {
    0% {
        stroke: #FFFFFF;
        stroke-dasharray: 3297;
        stroke-dashoffset: -3297;
    }
    50% {
        stroke: #FFFFFF;
        stroke-dasharray: -3297;
        stroke-dashoffset: 0;
    }
    100% {
        stroke: #FFFFFF;
        stroke-dasharray: 3297;
        stroke-dashoffset: 3297;
    }
}