page-conquistas {

}

.body {
    // background-color:rgba(112,204,66,1);
    background-color:rgba(50,150,5,1);
}

.listBronze ion-icon {
    color: #cd7f32;
}

.listPrata ion-icon {
    color: silver;
}

.listOuro ion-icon {
    color: goldenrod;
}
